*{
  font-family: monospace;
}
#banner{
  display: flex;
}
#logo-banner{
  width: 100%;
  margin-top: 0px;
  height: 70px;
  justify-content: fill;
}
footer{
  background-color: #88001B;
  color: #EC1C24;
  text-align: center;
  text-decoration: none;
}
.twit{
  text-decoration: none;
}
.twit:link{
  color: #EC1C24;
}
.twit:visited{
  color: #EC1C24;
}
.twit:hover{
  color: white;
}
/*index.html */
#pg-grid{
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 20% 60% 20%;
}
#title{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}
#q-info{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
#start{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}
#but-start{
  justify-content: fill;
  background-color: green;
  color: white;
  width: 100%;
}
/*qn.html*/
.quiz-cont{
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 10% 70% 10% 10%;
  grid-template-areas:
    '. q q .'
    '. gif gif .'
    '. sc sc .'
    '. yb nb .'
}
.quest{
  grid-area: q;
  width: 100%;
  text-align: center;
  font: console;
}
.player-cont{
  grid-area: gif;
}
.player{
  display: block;
  object-fit: contain;
  margin: auto auto auto auto;
  align: center;
}
.scre{
  grid-area: sc;
  text-align: center;
  padding-top: auto;
}
.yes{
  grid-area: yb;
  margin-top: 15px;
}
.but-yes{
  width: 100%;
  background-color: green;
  color: white;
}
.no{
  grid-area: nb;
  margin-top: 15px;
}
.but-no{
  width: 100%;
  background-color: red;
  color: white;
}
/*#yes{
  padding-top: 10px;
  width: 50%;
  float: left;
}
#no{
  padding-top: 10px;
  width: 50%;
  float: right;
}
#but-yes{
  width: 100%;
  background-color: lime;
}
#but-no{
  width: 100%;
  background-color: red;
}
#player-div{
  display: flex;
}
#player{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}*/
